@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Rubik');

body {
    font-family: 'Rubik';
    font-size: 16px;
    color: #5b55c1;
    background-color:rgba(248,183,55, 0.5);
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    background-color: #f7fdfa;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
}

.main-header {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.main-subheader {
    color: #f97025;
    font-size: 25px;
}

.filters-row {
    background-color: #f7fdfa;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
}

.filter-label {
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 400;
    display:block;
}

.filter-dropdown{
    width: 100%;
    font-size: 20px;
}
.graph-row{
    margin-bottom: 10px;
}
.dash-graph {
    background-color: #f7fdfa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
}

.stat-header {
    text-align: center;
    background-color: #f7fdfa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}
.stat-card {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #f97025;
    background-color: #f7fdfa;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
}
.card{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #5b55c1;
    background-color: #f7fdfa;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
}
.contacts {
    background-color: #f7fdfa;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(249,112,37, 0.8);
    font-size: 20px;
    color: #5b55c1;
}